[Unit]
Description=Docker compose for gtubt backend application
After=network.target

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=5s
WorkingDirectory=/opt/repo/gtu/gtubt-backend/
ExecStart=/usr/local/bin/docker-compose -f /opt/repo/gtu/gtubt-backend/docker-compose.yml -f /opt/repo/gtu/gtubt-backend/docker-compose.prod.yml -p gtubt up
ExecStop=/usr/local/bin/docker-compose -f /opt/repo/gtu/gtubt-backend/docker-compose.yml -f /opt/repo/gtu/gtubt-backend/docker-compose.prod.yml -p gtubt down

[Install]
WantedBy=multi-user.target