<style type="text/css">
  body {
    font-family: 'arial';
  }

</style>
<body>
<h1>Password Reset Confirmation ({{ domain }})</h1>
We received a request to reset the password for your Omnitron ({{ domain }}) account.
To initiate the password reset process for your account, click the link below<br><br>
{# TODO: We must change this link with deepling url #}
<a href="https://{{ domain }}/v1/auth/password/reset/confirm/{{ uid }}/{{ token }}">Update
    Password</a>
<br>
<br>
For your safety, please do not share your user information with anyone.<br>
Sincerely,<br>
GTU Computer Society<br>
</body>